
    {% load staticfiles %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static "images/logo.png"%}" alt="Techro HTML5 template"></a>
          </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li><a href="{% url 'index' %}">首页</a></li>
                    <li><a href="{% url 'page-show' 'about' 'course' %}">课程介绍</a></li>
                   	<li><a href="{% url 'page-list' 'news' %}">课程动态</a></li>
					<li><a href="{% url 'page-list' 'course2016' %}">课程内容</a></li>

              <li><a href="http://192.168.152.88/bbs">BBS</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
